body {
    background-color: rgb(253, 227, 255);
}
h1 {
    color: rgb(36, 28, 28);
    text-align: center;
    font-family: 'Fira Code', monospace;
    margin: 0 auto;
}
hr {
    height: 3px;
    background-color: black;
    border: none;
    width: 75%;
    margin: 30px auto;
}
h2 {
    color: rgb(107, 10, 44);
    margin-left: 25%;
    font-family: 'Fira Code', monospace;
}
h3 {
    color: rgb(107, 10, 44);
    text-align: center;
    font-family: 'Fira Code', monospace;
}
p {
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'times new roman', serif;
}
footer {
    text-align: center;
    font-family: 'Fira Code', monospace;
    margin-top: 20px;
}
ul{
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'times new roman', serif;
}
a:link {
  color: #7e009e;        /* unvisited links */
}
a:visited {
  color: #030050;        /* links the user has already clicked */
}
a:hover {
  color: #870000;        /* mouse hovering over the link */
}
a:active {
  color: #ffffff;        /* the moment it's being clicked */
}